p {
	color:red;
	font-family: Arial;
	font-size: 20px;


}

div p{

	color:blue;
	font:10px;


}

.hover-test:hover {
	font-size: 50px;
	text-decoration: none; 
}

a:visited {
	background: black;
	color: pink;
}
/*div {
	text-align: center;
	border: 5px solid blue;
	border-radius: 40px;*/

	div {height: 70px;
				width: 100px;
				border: 5px solid black;
				border-radius: 8px;



	}

/*	#ff0000, #0000ff, #ffd700, #308014
*/


.divone {
	background-color: #ff0000;}
	
.divtwo {background-color: #0000ff;

}

.divthree {background-color: #ffd700;
}

.divfour { background-color: #308014; }

.divfive { background-color: #f08013; }



